@import "compass";
// =============================================
//         IE hacks by Gary Hepting 
//          Last Updated:2013-2-2
// =============================================

// variables & mixins
@import "variables";
@import "mixins";



html {
  &.lt-ie9 {
    min-width:$max-width !important;
    body {
      width:auto !important;
    }
    .container {
      width:auto !important;
    }
  }
}